body {
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #C1F0FB;
    font-size: large;
}

a {
    text-decoration: none;   padding: 1rem 1rem;
}